<div class="panel panel-default">
<div class="panel-heading">
  <h1>Employees</h1>
</div>
<div class="panel-body">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Emp no</td>
        <td>addresses</td>
        <td>contacts</td>
        <td>Social Media Accounts</td>
        <td>Action</td>
        
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let employee of employees">
        <td ondblclick="employeeDetails(employee.id)">{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.employeeNumber}}</td>
        <td >
          <address *ngFor="let address of employee.addresses">
          <ul>{{address.addressLine1}}</ul>
          <ul>{{address.addressLine2}}</ul>
          <hr/>
          </address>
          
        </td>
        <td >
          <ul *ngFor="let contact of employee.contacts">
          <ul>{{contact.contactValue}}</ul>
          <ul>{{contact.contactType}}</ul>
          
          <hr/>
        </ul>
  
        </td>
        <td >
          <ul *ngFor="let account of employee.accounts">
          <ul>{{account.accountType}} : {{account.socialMediaURL}}</ul>
          
          
          <hr/>
        </ul>
  
        </td>
       
  <td>
      <button class="btn btn-danger" color="red" (click)="deleteEmployee(employee.id)">Delete</button>
  </td>
      </tr>
    </tbody>
  </table>
</div>
</div>